body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #000;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 65vw;
    height: 48vw;
    background-image: url(/assets/backgroud.png);
    background-size: contain;
    /* min-width: 1000px; */
    /* min-height: 600px; */
    border: 1px solid #222222;
    overflow: hidden;
}

.space-invader,
.player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00f;
}