@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

@font-face {
  font-family: "Zero";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/assets/font/Zero.ttf") format("woff2"),
    url("/assets/font/ZeroFilled.ttf") format("woff");
}

@font-face {
  font-family: "Rune";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/assets/font/deltarune.ttf") format("woff2"),
    url("/assets/font/deltarune.ttf") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rune";
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.game-container {
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg/background.png);
  display: flex;
  flex-direction: column;
}

.game-container .player {
  width: 70px;
}

.game-container .list-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100;
}

.game-container .list-group li {
  list-style-type: none;
}

.bullet {
  position: absolute;
  left: 32px;
  width: 7px;
  /* height: 100px; */
}

.enemy {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -100px;
  z-index: 0;
  /* background-color: red; */
}

.bulletEnemis {
  position: absolute;
  width: 5px;
  left: 20px;
}

.game_menu,
.pause_menu,
.lose_menu {
  font-family: "Rune", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #0000004b;
  margin: auto;
  z-index: 2;
}

.game_menu h1 {
  font-family: "Zero";
  font-size: 140px;
  color: #fff;
}

.game_menu h2,
.pause_menu h2,
.lose_menu h2 {
  font-family: "Zero";
  font-size: 100px;
  color: #fff;
}

h3 {
  font-family: "Zero";
  font-size: 50px;
}

.lose_menu h3 {
  font-family: 'Rune';
  font-size: 40px;
}

ul {
  color: rgb(172, 172, 172);
  font-family: "Rune";
  font-size: 35px;
  margin-top: 30px;
  z-index: 1;
}

button {
  width: 200px;
  height: 50px;
  font-family: "Rune";
  background-color: white;
  margin: 20px;
  position: relative;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

button:before,
button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  /* background-color: #44d8a4; */
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

button:after {
  left: 0;
  bottom: 0;
}

button:hover:before,
button:hover:after {
  width: 100%;
}

button:hover {
  font-size: 25px;
}

p {
  /* font-family: "Zero"; */
  font-size: 25px;
  font-weight: bolder;
}

.eschap {
  width: 40px;
}

.touches {
  width: 60px;
}

.divEsc {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}